<li>

   <%= check_box_tag("categories[]", category.id, @wishlist_items.include?(category.id)) %>
   <%= category.name %>
   <%= text_field_tag "category_#{category.id}_custom_description", find_by_wish_list_and_category(@wish_list.id,category.id) %>
   <% unless category.children.empty? %>
	    <ul>
	        <%= render :partial => 'category_list', :collection => category.children, :as => :category  %>
	    </ul>
	 <%end%>
</li>

