 <div class="main">
<p> To grant permissions, to publish and send offline birthday emails, please click the bellow button. </p>
<div class="permission">
   <% unless @facebook_user.has_permissions?('publish_stream') %>
       <div class='large awesome'>
         <fb:prompt-permission perms="publish_stream,offline_access,email" next_fbjs="window.location.href = '/wish_lists/grant_permission'" > Grant me permission </fb:prompt-permission></div>
   <% end %>

   &nbsp;&nbsp;or-<%= link_to " Go to WishLists", wish_lists_path %>

</div>


</div>
