



<% unless @friend_lists.blank? %>
  <% form_tag wish_list_publish_wish_list_path(@wish_list) do -%>
	<table>
	<tr> <td> <h4> Select a friend list :</h4> </td> <td>  <%= select_tag "friend_list", options_for_select(@friend_lists.collect { |list| [list.name,list.flid]} ) %> </td> </tr>
	</table> <br />
    <p> <%= submit_tag "Publish to selected friend list" %> -or-   </p>

  <%end-%>
<%end%>


  <% form_tag wish_list_publish_wish_list_path(@wish_list) do -%>
      <%= submit_tag "Publish to wall" %>
  <%end%>
