	
	/* --------------------------------------------------
	=Structure
	-------------------------------------------------- */
	
	/* For IE */
	body.ie div.five ul.photos { width: 290px; }
	body.ie div.twelve ul.photos { width: 720px; }
	
	/* =Wrapper ------------------------------------- */
	#wrapper { border-top-color: #b8d30b; }
	body#teamPage div#wrapper { border-color: #2daebf; }
	body#contactPage div#wrapper { border-color: #ff5c00; }
	
/*	--------------------------------------------------
	=Footer
	-------------------------------------------------- */
	#site-info { background: #f5f5f5 url(/images/footer/footer-shadow.gif) no-repeat top center; margin: 27px 0 0; padding: 27px 0 18px; clear: both; position: relative; }
	
	#site-info div.column-row { xmargin: 0 10px; xwidth: 880px; position: relative; height: 126px; }
	#site-info div.five { xwidth: 250px; }
	#site-info h3 { margin: 0; }
	#site-info h4 { margin: 0; font-weight: normal; border: 0; }
	#site-info h5 { margin: 0; padding: 2px 9px 0; }
	#site-info h6 { margin: 0; font-weight: bold; color: #555; }
	#site-info p { font-size: 12px; color: #777; }
	#site-info p strong { color: #333; }
	
	#footer { width: 940px; padding: 18px 0 9px; margin: 9px 0 0; border-top: 1px solid #ddd; }
	#footer p.copyright { margin: 0; }

	#site-info a { font-weight: inherit; color: #777; text-decoration: underline; }
	#site-info a:hover { text-decoration: none; }
	
	#site-info form { background-repeat: no-repeat; background-position: 0 0; margin: 5px 0 4px; height: 27px; position: relative; background: #999; width: 250px; overflow: hidden; }
	#site-info form div { background-repeat: no-repeat; background-position: right -27px; width: 240px; height: 23px; padding: 2px 0 2px 10px; position: absolute; top: 0; left: 0; }
	#site-info form input.input-text { background: #fff !important; display: block; width: 160px; margin: 0; padding: 3px 0 2px; border: 0; color: #333; font-size: 12px; }
	#site-info form input.input-text:focus { background: #fff; outline: none; }
	#site-info form button { background-position: 0 0; background-repeat: no-repeat; height: 27px; position: absolute; top: 0; right: 0; text-indent: -999em; cursor: pointer; }
	#site-info form button:hover { background-position: 0 -27px; }
	
	#zurbnews p, #zurbword p { margin: 9px 10px; }
	body.ff #site-info form input[type=text] { padding: 4px 0; }
	body.ie #site-info form input.input-text { padding: 3px 0 4px; }
	body.ie7 #site-info form input.input-text { padding: 5px 0 2px; line-height: 1; }
	
	#site-info #zurbword form { background-image: url(/images/footer/zurbword-bg.gif); }
	#site-info #zurbword form div { background-image: url(/images/footer/zurbword-bg.gif); width: 216px; padding-left: 34px; }
	#site-info #zurbword form button { background-image: url(/images/footer/zurbword-button.gif); width: 40px; }

	#site-info #zurbnews form { background-image: url(/images/footer/zurbnews-bg.gif); }
	#site-info #zurbnews form div { background-image: url(/images/footer/zurbnews-bg.gif); }
	#site-info #zurbnews form button { background-image: url(/images/footer/zurbnews-button.gif); width: 58px; }
	#site-info #zurbnews form input.input-text { width: 165px; }

/*	Who is ZURB? on ZURBword Footer -------------------- */
	#site-info div#weAreZURB h5 { padding-left: 0; }
	div#weAreZURB p { margin-top: 5px; }

	#site-info ul { float: right; height: 27px; margin: -2px -12px 0 0; }
	#site-info ul li { display: inline; }
	#site-info ul li a, #site-info ul li a:visited { float: left; width: auto; margin: 0; padding: 2px 12px 2px; border-right: 1px solid #ddd; }
	#site-info ul li.rss a { padding-left: 32px; background: url(/images/icons/16px/rss-gray.gif) no-repeat 11px 3px; border: 0; }
