/*	--------------------------------------------------
	=ZURB Print Styles
	-------------------------------------------------- */
	
	
 /*	--------------------------------------------------
	=Killing the Unneeded Sections
	-------------------------------------------------- */		
	
	
	#adminHeader,
	#ZURBar, 
	div#sidebar,
	ul.tabs li, 
	#site-info div#zurbword, 
	#site-info div#zurbnews,
	#site-info div#footer { display: none !important; }
	
	#site-info div#zurbcontact { border-top: 2px solid #e0e0e0; padding-top: 10px; width: 400px; }
	
	ul.tabs li.current { display: block !important; margin: -7px -30px 0 0; }
	li.current a span { color: #000; background-color: green; }
	
	
	/* Stripping the Blog --------- */
	
	div#content ul.options,
	div.post-header ul.admin, 
	div#pageHeader,
	div#content-sec div,
	div#content-main div.footer,
	div#content-main div#comments { display: none !important; };

	div.column-row div#content-main { width: 20%; }
	
	body#showPage div#content-main div.post { width: 120%; }
	div#content-sec div#aboutZURBlog { display: block !important; width: 70%; margin-left: 80px; }
	
	div.secondary.page-header { display: none !important; }
	
	div#content-main { font-size: 15px; line-height: 17px;}
	
	div.post-header h2 { font-size: 26px; }
	div.body { font-size: 16px; line-height: 19px; }

	body#showPage div#content-main blockquote,
	body#showPage div#content-main blockquote p { color: #555; }
	
	div.vcard ul. div.vcard address, div.vcard p { color: 000; }
	

	
