html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend,  table, caption{
margin : 0;
padding : 0;
border : 0;
outline : 0;
vertical-align : baseline;
font-size:100%;
font-style:normal;
font-weight:normal;
vertical-align:baseline;
}

:focus {
outline : 0;
}



table {
border-collapse : separate;
border-spacing : 0;
}

caption, th, td {
text-align : left;
font-weight : normal;
}

blockquote:before, blockquote:after, q:before, q:after {
content : "";
}

blockquote, q {
quotes : "" "";
}
/*******************************************************/

body { margin: 0px 0px 0px 0px; padding: 0px; color: #6d6c67; font-family: Arial, Helvetica, Sans-Serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal;height:100%; background:#f8eab9 url(/images/body.jpg) repeat-x;border:1px solid #c3c3a7;}


.notice{
	margin:5px auto;
	line-height:20px;
	padding:10px 40px;
	background-color:#e9fdc9;
        border:1px solid #adbd93;
}

.notice p{
        color:#312A2A;
	font-size:15px;
	text-align:center;
}

.Login{
	width:25%;
	background-color:#9d1e00;
	margin:0 auto;
	padding:50px 20px;
}

.Login p {
	color: #fff;
	text-align: left;
	font-weight:normal;
	font-size:14px;
    	padding-left:15px;
	padding-right:15px;
	margin-top:10px;
}

.Login  a{
	color:#fff;
}

.Login p input{
	border:2px solid #bebebe;
	padding:3px;
	width:90%;
}

.Login p input:focus{
	border:2px solid #e8c382;

}

.login_btn{
        margin:20px 0px 10px 18px;
}

.login_btn input{
    	color:#000;
    	padding:1px 3px;
}


.spacing{
	padding:35px 0px;
}


.header{
	height:45px;
	background: url(/images/logo.gif) no-repeat;
	margin:0px 10px 0px 10px;
	padding:20px 0px 0px 130px;
}

.header h1{
        font-family:URW Gothic L;
	color:#ae321a;
	font-size:32px;
}

.header h1 span{
	color:#ae321a;

}

hr{border-top:1px solid #ead17b; border-bottom:1px solid #fff;}

h1, h2, h3, h4, h5, a{font-family:URW Gothic L;}

.main{
	margin:5px;
	height:auto !important;
	min-height:900px;
	height:auto !important;
    	height:900px;
    	padding:20px 5px 3px 5px;
        background:#fff url(/images/top.jpg) repeat-x;
}

.main h2{
	color:#b33c36;
	font-size:30px;
	font-weight:normal;
	padding:0px  0px 4px 5px;
	margin:10px 0px 0px 0px;
}

.main h2 span {
	float:left;
        width:60%;
}

.main h2 span a{
	float:left;
    	background:none;
    	color:#2a4f83;
	font-size:18px;
	font-weight:normal;
    	text-decoration:none;
    	border:none;
    	padding:0px;
}

.main h2 a{
	float:right;
	font-size:12px;
	background-color:#2a4f83;
	color:#fff;
	padding:5px 8px;
	text-decoration:none;
	border:1px solid #224472;
}

.main h2 a:hover{
	text-decoration:underline;
}

.main h3{
	color:#4b4949;
	font-size:15px;
	font-weight:normal;
	padding:0px  0px 4px 0px;
	margin:0px 0px 0px 0px;
        font-family:Serif;
}

.main p span,a{
	color:#284785;
	text-decoration:underline;
}

.main p span,a:hover{
	text-decoration:none;
}


.main h2.item{font-size:15px;}

.borders{border:1px solid #ddd; padding:10px 5px;}


ul#tree li{}

ul#tree li span input{border:1px solid #cbcbcd;padding:5px;width:240px;}

ul#tree{
	margin:15px 0px 0px 30px;
	padding:0px;
}

ul#tree li {
	margin:0px;
	padding-top:10px;
	font-size:13px;
	color:#36383b;
	text-align:left;
	list-style:none;

}

ul#tree li ul li {
	font-size:13px;
	color:#36383b;
}

.clear{clear:both;}


.form {
	border:1px solid #ddd;
	background-color:#fff;
	padding:20px 10px;
	margin-top:8px;
}

.form h2{
	color:#8a1f11;
	border-bottom:1px solid #c1bdbd;
	border-top:none;
	border-left:none;
	border-right:none;
	font-size:14px;
	font-weight:bold;
	width:100%;
	background:none;
	margin:15px 0px 0px 0px;
	padding:3px 0px 2px 10px;
}

.form input{
	margin:0px 0px 5px 0px;
	border:1px solid #cbcbcd;
	padding:5px;
}

.form label{
    	color:#36383b;
    	font-size:13px;
	margin:0px 0px 5px 0px;
	padding:3px 0px 2px 10px;
	float:right;
}

.form p input{
	font-size:12px;
	background-color:#2a4f83;
	color:#fff;
	padding:5px 8px;
    	margin:5px 0px 0px 50px;
	text-decoration:none;
	border:1px solid #224472;
}

.listing{
         border:1px solid #ddd;
	 padding:10px 5px;
	 margin-bottom:25px;
}

.listing p{padding-top:5px;line-height:22px;color:#191717;}


.listing h3 a{font-size:18px;color:#9d1e00;text-decoration:none;width:100%;}

.listing_btm{padding:10px 5px 10px 0px;background-color:#fffeec; margin-top:5px;}

.listing_btm p{color:#191717;}

.links{float:right;}

.links ul li{margin:0px;padding:0px;display:inline;list-style:none;}

.links ul li a{display:inline;color:#191717;}



.listing hr{border-top:1px solid #ddd;border-bottom:1px solid #fff;}


.admin_listing {
	width:100%;
	border:collapse;
	
}

.admin_listing th {
	color:#fff;
        text-align: left;
        padding: 6px 10px;
	font-size:15px;
	background: url(/images/th_header.jpg) repeat-x;
        font-weight:normal;
	border:1px solid #ddd;
}


.admin_listing td {
	padding: 13px;
	color: #2a2828;
	text-align: left;
	padding: 8px 0px 8px 10px;
	border:1px solid #ddd;
	border-top:none;
}


.admin_listing tr {
    	font-size: 13px;
}

.admin_listing a {
	color: #b02715;
        font-size: 13px;
}

.admin_listing tr.even td {
	background-color:#f8f8f8;

}

.admin_listing tr.even:hover td {
	background-color:#fff;

}


.admin_listing tr.odd td {border-top: #dadeec 1px solid;border-bottom: #dadeec 1px solid;}



.lt{
	float:left;

}

.rt {

	float:right;
}

input.textbox-small {
border : 1px solid #838F99;
background : #ffffff
padding : 2px 2px;
width : 60px;
height : 19px;
}



/*..........................button css..........................*/
.awesome{margin-top: 20px; margin-bottom:5px;}
.awesome a{text-decoration: none;color:#535151;}

.awesome, .awesome:visited, #wish_list_submit{
	background: #f3f6fb url(/images/btn.gif) repeat-x;
	display: inline-block;
	padding: 5px 10px 5px;
	color: #535151;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.awesome:hover{ background: #f3f6fb url(/images/btn_hr.gif) repeat-x;  color: #535151; }
.awesome:active	{ top: 1px; }

#wish_list_submit:hover{ background: #f3f6fb url(/images/btn_hr.gif) repeat-x;  color: #535151; }


/*......................................admin-section............................*/
.container{
	width:72%;
	height:auto !important;
	float:right;
	margin-top:20px;
}

.container h3{
	color:#9d1e00;
	font-size:22px;
	margin:5px 5px 0px 10px;
	background:none;
        border:none;
}

.container p{
	margin:15px 5px 15px 8px;
        color:#333435;
	line-height:21px;
}


.outer_box {
        height:230px;
	float:left;
	margin: 10px 0px 10px 10px;
	padding:2px 2px 2px 2px;
	width: 300px;
	background-color: #ccc;
}


.box {
	background:url('http://69.164.192.249:3012/images/box.png') repeat-x;
	clear:both;
        height:230px;
}

.heading{
	text-align:left;
	height:20px;
	color:#2c4a83;
	font-weight:bold;
	font-size:15px;
	padding:5px 0px 5px 15px;
	background:url('http://69.164.192.249:3012/images/box_header.jpg') repeat-x;
	margin-bottom:5px;
	overflow:hidden
}

.box_lt {
	width:135px;
	float:left;
	margin: 5px 0px 5px 2px;
        height:130px;
	overflow:hidden;
}

.box_rt {
	width:140px;
	float:right;
	overflow:hidden;
        height:140px;
	margin: 5px 1px 5px 0px;
}

.box_rt p{
     	height:75px;
      	margin:0px;
     	overflow:hidden;
}

.box_rt a{
        margin: 0px 0px 0px 0px;
}


.points{
	margin:0px;
	padding:18px 0px 0px 10px;
	font-weight:normal;
	color:#414040;
	clear:both;
}

h2.form_heading{
	background:none;
	font-size:20px;
	border:none;
	font-weight:normal;
	padding:5px 4px;
	color:#b32b31;
	margin:2px 0px 0px 15px;
}


.formstyle{
	background:#f7f7f9 url(/images/form_bg.jpg) repeat-x;
	border-collapse: collapse;
    	margin:0px 10px 10px 0px;
    	border: 1px solid #e3e4e5;
	margin:10px 15px;
}

.formstyle th {
	color: #000;
	text-align: left;
	font-weight:normal;
	font-size:14px;
    	padding-left:15px;
	padding-right:15px;
}

table.formstyle tr td input{
	border:1px solid #aeaeae;
	padding:3px;
}

table.formstyle tr td textarea{
	border:1px solid #aeaeae;
	padding:3px;
}

table.formstyle tr td textarea:focus{
	border:1px solid #e8c382;

}

table.formstyle tr td input:focus{
	border:1px solid #e8c382;

}


#btn input{
    	color:#000;
    	padding:5px 30px;
    	margin:5px 0px 10px 0px;

}

.sidebar{
	width:25%;
	border-right:1px solid #9d1e00;
	backXground-color:#9d1e00;
        margin-top:20px;
}

.sidebar h2{width:100%;padding-top:0px;}


#banners {margin: 20px;}
.banner {margin-bottom: 20px; }
.banner img{
	border: 1px solid #ddd;
	height: 150px; width:180px;
 }

h2.banner{
	color:#b32b31;
	font-size:22px;
	margin:0px 5px 0px 5px;
	background:none;
	text-align:left;
        border:none;
	font-weight:normal;
}

