html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend,  table, caption{
margin : 0;
padding : 0;
border : 0;
outline : 0;
vertical-align : baseline;
font-size:100%;
font-style:normal;
font-weight:normal;
vertical-align:baseline;
}

:focus {
outline : 0;
}



table {
border-collapse : separate;
border-spacing : 0;
}

caption, th, td {
text-align : left;
font-weight : normal;
}

blockquote:before, blockquote:after, q:before, q:after {
content : "";
}

blockquote, q {
quotes : "" "";
}
/*******************************************************/

body { margin: 0px 0px 0px 0px; padding:0px; color: #6d6c67; font-family: Arial, Helvetica, sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal;height:100%; background:#daf0fe url(/images/main.jpg) repeat-x;border:1px solid #b0effd;}


.notice{
	margin:5px auto;
	line-height:20px;
	padding:10px 40px;
	background-color:#e9fdc9;
        border:1px solid #adbd93;
}

.notice p{
        color:#312A2A;
	font-size:15px;
	text-align:center;
}

.header{
	height:70px;
	margin:10px 0px 5px 0px;
	padding:0px 0px 0px 120px;
	background: url(/images/logo.gif) no-repeat;
}

.header h1{
        font-family:URW Chancery L Italic;
	color:#f92e5d;
	font-size:60px;
	padding-top:10px;
}

.header h1 span{color:#a67d00;} 


.header_rt {float:right;width:50%;margin:0px;padding:0px;}

hr{border-top:1px solid #ffe58a;border-bottom:1px solid #fff9e6;}

.main{
	margin:10px 5px;
	height:auto !important;
	min-height:900px;
	height:auto !important;
    	height:900px;
    	padding:12px 8px 3px 8px;
	background-color:#f6fdff;
	border:1px solid #e7e7e7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.heading{
	background:#f2b200 url(/images/img.jpg) repeat-x right;
	margin:0px 5px 10px 5px;
	height:230px;
	border:4px solid #fff;
	padding:0px 10px 0px 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.heading_lt{
	width:67%;
	float:left;
	height:120px;
	padding-top:12px;
}

.heading_lt h1{
	color:#fff;
	font-size:28px;
	font-weight:normal;
	padding:0px 0px 0px 10px;
	line-height:42px;
	}

.heading_lt p{
	color:#fff;
	font-size:20px;
	font-weight:normal;
	padding-left:10px;
	line-height:33px;
	}

.heading_lt p.last{font-size:18px;font-style:italic;margin-top:5px;}




.heading_rt{
	width:32%;
	float:right;
	height:230px;
	background:#f2b200 url(/images/background.gif) no-repeat right;
}

.main h2{
	color:#ec355f;
	font-size:25px;
	font-weight:normal;
	padding:0px 5px;
}

.main h2 span {
	float:left;
        width:60%;
}

h4 {

	font-size:15px;
	font-weight:normal;
	padding:0px 5px;
}

.create_btn{margin-bottom:15px;margin-top:5px;}

.create_btn a{
	background: #dddddd url(/images/btn.gif) repeat-x;
	padding:5px 20px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	position: relative;
	cursor: pointer;
	color: #ab1920;
	font-weight:normal;
	font-size:18px;
	border:1px solid #d0d0d0;
	text-decoration:none;
}

.create_btn a:hover{color:#3f3f3f;}

.main h2 span a{
	float:left;
    	background:none;
    	color:#2a4f83;
	font-size:18px;
	font-weight:normal;
    	text-decoration:none;
    	border:none;
    	padding:0px;
}

.main h2 a{
	float:right;
	font-size:12px;
	background-color:#2a4f83;
	color:#fff;
	padding:5px 8px;
	text-decoration:none;
	border:1px solid #224472;
}

.main h2 a:hover{
	text-decoration:underline;
}

.main h3{
	color:#4b4949;
	font-size:15px;
	font-weight:normal;
	padding:0px  0px 4px 0px;
	margin:0px 0px 0px 0px;
}
.main p{
	color:#000;
	
	
}

.main p.name{
	color:#000;
	font-size:14px;
	
}

.main h3.large{
	color:#000;
	font-size:18px;
	margin-top:5px;
}


.main p span,a{
	color:#284785;
	text-decoration:underline;
}

.main p span,a:hover{
	text-decoration:none;
}


.main h2.item{font-size:15px;}

.borders{border:1px solid #ddd; padding:10px 5px;}


ul#tree li{}

ul#tree li span input{border:1px solid #cbcbcd;padding:5px;width:240px;}

ul#tree{
	margin:15px 0px 0px 30px;
	padding:0px;
}

ul#tree li {
	margin:0px;
	padding-top:10px;
	font-size:13px;
	color:#36383b;
	text-align:left;
	list-style:none;

}

ul#tree li ul li {
	font-size:13px;
	color:#36383b;
}

.clear{clear:both;}


.form {
	border:1px solid #cccccc;
	background-color:#fff;
	padding:20px 10px;
	margin:8px 10px;
}

.form h2{
	color:#b62b31;
	font-size:18px;
	width:100%;
	background:none;
	margin:15px 0px 0px 0px;
	padding:3px 0px 2px 10px;
	border-top:1px solid #fd3f6c;
}


.sub_heading{
	color:#b62b31;
	font-size:25px;
	font-weight:normal;
	width:100%;
	background:none;
	margin:15px 0px 0px 0px;
	padding:3px 0px 2px 10px;
}

.form input{
	margin:0px 0px 5px 0px;
	border:1px solid #cbcbcd;
	padding:5px;
}

.form label{
    	color:#36383b;
    	font-size:13px;
	margin:0px 0px 5px 0px;
	padding:3px 0px 2px 10px;
	float:right;
}

.form p input{
	font-size:12px;
	background-color:#2a4f83;
	color:#fff;
	padding:5px 8px;
    	margin:5px 0px 0px 50px;
	text-decoration:none;
	border:1px solid #224472;
}
.paypal{
         border:1px solid #e5e5e5;
	 padding:2px 5px;
	 background:#fafaff;
	 margin:8px 0px;
}

.listing{
         border:1px solid #cccccc;
	 -moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	 padding:2px 5px;
	 margin:10px 0px 30px 0px;
	width:98.5%;
	background:#fafbfc url(/images/bottom.jpg) repeat-x;
}



.listing p{padding:5px 0px 0px 8px;line-height:25px;color:#462232;font-size:13px;}

.listing h3{font-size:18px;text-decoration:none;width:100%;color:#fff;}
.listing h3 a{font-size:18px;text-decoration:none;width:100%;color:#fff;}
/*background:url(/images/icon.gif) no-repeat;padding-left:24px;*/}

.listing_btm{padding:25px 5px 10px 0px;margin-top:5px;}



.listing_btm p{color:#000;}
.date{margin-bottom:5px;}

.date p{color:#b62b31;width:20%;padding-left:5px;}


.links{float:right;}

.links_btn{margin-top: 5px; }

.links  a {
  font-size:14px;
}

input.links_btn{ 
        border: 1px solid #ddd;
	padding: 1px 5px;
	font-size:14px;
}

.links_btn, .awesome:visited, #wish_list_submit{
	background: #f3f6fb url(/images/btn.gif) repeat-x;
	display: inline-block;
	padding: 2px 5px;
	color: #535151;
	text-decoration: none;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border: 1px solid #ddd;
	position: relative;
	cursor: pointer;
}

.links_btn:hover{ background: #f3f6fb url(/images/btn_hr.gif) repeat-x;  color: #535151; }


.lt{float:left;}

.rt {float:right;}

input.textbox-small {
	border : 1px solid #838F99;
	background : #ffffff
	padding : 2px 2px;
	width : 100px;
	height : 19px;
}


/*..........................button css..........................*/
.awesome{margin-top:1px;}
.awesome a{text-decoration: none;color:#252a2f;font-size:15px;}

.awesome, .awesome:visited, #wish_list_submit{
	background: #49112c url(/images/btn.gif) repeat-x;
	display: inline-block;
	padding: 5px 13px 5px;
	color: #535151;
	text-decoration: none;
	-moz-border-radius: 8px;
        -webkit-border-radius: 8px;
	border:1px solid #a9a5a7;
	position: relative;
	cursor: pointer;
}

.awesome:hover{ background: #f3f6fb url(/images/btn_hr.gif) repeat-x;  color: #535151; }
.awesome:active	{ top: 1px; }



#wish_list_submit:hover{ background: #f3f6fb url(/images/btn_hr.gif) repeat-x;  color: #535151; }



/*................................................ Error Reporting Styles */
.fieldWithErrors {
 	margin: 2px;
 	padding: 2px;
 	background-color: red;
 	display: table;
}

#errorExplanation {
 	border: 2px solid red;
 	padding: 7px;
 	padding-bottom: 12px;
 	margin-bottom: 20px;
 	background-color: #f0f0f0;
}

#errorExplanation h2 {
 	text-align: left;
 	font-weight: bold;
 	padding: 5px 5px 5px 15px;
 	font-size: 12pt;
 	margin: -7px;
 	background-color: #c00;
 	color: #fff;
}

#errorExplanation p {
 	color: #333;
 	margin-bottom: 0;
 	padding: 5px;
}
#errorExplanation ul li {
 	font-size: 11pt;
 	list-style: square;
}


.form span {
  color:red;
}



