<div id="wish_list">
 name : <%= @wish_list.name %>

 <% @wish_list_categories.each do |wish_catogery|%>
  category : <%= wish_catogery.category.name %>
  comments : <%= wish_catogery.custom_description %>
 <% end %>
</div>

