<li>

   <%= f.radio_button :category_id ,category.id%> <%= category.name %><%= category.lowest_number_of_points_needed %>
   <span></span>
   <% unless category.children.empty? %>
	    <ul>
	        <%= render :partial => 'category_list', :collection => category.children, :as => :category ,:locals => { :f => f} %>
	    </ul>
	 <%end%>
</li>

