<table class="formstyle"  cellpadding="15px;" border="1">
	<tr>
     <th> <%= f.label :subject %></th>
     <td> <%= f.text_field :subject %> </td>
  </td>
  <tr>
     <th> <%= f.label :body %> </th>
     <td> <%= f.text_area :body %> </td>
  </tr>

 </table>
