 <ul>
<% @users.each do |user| %>
   	<li>
    	<%=h user.name %>
  
    	<!--<td><%= link_to 'Show', user %></td>
    	<td><%= link_to 'Edit', edit_user_path(user) %></td>
    	<td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>-->
  	</li>
<% end %>	
</ul>





