<div class="clear"></div>

<h2> Listing all Users</h2>
<table class="formstyle"  cellpadding="15px;">
	<tr>
	   <th> Search </th>
    <% form_tag(admin_users_path, :method => "get" )do %>
      <% fields_for @search do |f|%>
    	  <% f.fields_for @search.conditions do |user| %>
			    <td> <%= user.text_field :name_like   %>  </td>
    		<%end%>
  	  <%end%>
   	  <td><%=  submit_tag "Search" %> </td>
   	<%end%>
	</tr>
</table>
<div id = 'dealer-list'>
   <%=render :partial => "list"%>
</div>

